header {
    background-color: #333; 
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between; 
    color: white;
}

/* Navigation bar styling */
nav {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    background-color: #333; 
    padding: 10px 20px; 
}

nav a {
    color: white; 
    text-decoration: none; 
}

/* Main content styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ddd; /* Medium gray */
    margin: 20px;
}

/* Shop Now button styling */
button {
    background-color: #4CAF50; 
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    margin: 20px;
    border: none;
    color: white; 
    cursor: pointer; 
}

/* Customer Review Section styling */
.customer-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd; 
    padding: 20px;
    margin: 20px 20px; 
}


footer {
    background-color: #333; 
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}