.wrapper{
    display: flex;
    flex-wrap: wrap;
}
.header{
    background-color: #333; 
    padding: 20px;
    margin: 0;
    width: 100%;
    display: flex;
    color: white;
}
.footer{
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
}
.logo{
    display: flex;
    float: left;
}
.brand-name{
    display: flex;
    float: right;
    justify-content: right;
}
.nav{
    display: flex;
    justify-content: space-around; 
    width: 100%;
    background-color: #333; 
    padding: 10px 20px; 
}

.nav a{
    color: white; 
    text-decoration: none; 
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    background-color: #ddd;
    align-items: center;
}

#product{
    width: calc(50% - 40px); 
    background-color: #f9f9f9;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-sizing: border-box; 
    font: bold;
}
#product:hover{
    background-color: white;
}

#imgid{
    border-radius: 8px;
    margin-bottom: 10px;
}

#price{
    color: #007BFF;
    font: bolder;
    text-align: center;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    opacity: 1;
}